.container#content
  .col-lg-3#blog-column
    %hr/
    %h3 My Picks
    %hr/
    %p lots of content
    %br
    %br
    %br
    %p at least the last 2 blog posts
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %hr/
    %h3 Contact
    %hr/
    %br
    %a(href="mailto:orlene@laughingwithflowers.com") orlene@laughingwithflowers.com
    %br
    %br
    %h4#contact 503-241-0336
    %br
    %br
    %h4#contact Portland, Oregon
    %br
    %br
    %img{src: "#{image_path('portland.png')}", class: "img-responsive"}
  .col-lg-5#wedding-column
    %h3
      Weddings
    %br/
    %img{src: "#{image_path('headbandthumb.jpg')}", class: "img-responsive"}
    %br
    %br
    %hr/
    %h3 About
    %hr/
    %br
    %p As an Oregon native, I specialize in local, in-season flowers and greenery. My unique style gives a soft edge and flair to my arrangements. My experience includes 16 years of being in the floral industry from cultivating a flower farm, to numerous years working with nursery product, while designing in high end floral shops from east to west coast.  While working with flowers is my passion, I also find time to work in a greenhouse propagating succulents.
    %br
    .row#front-gallery
      %hr/
      %h3= link_to "Portfolio", portfolio_path
      %hr/
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
  .col-lg-3#terr-column
    %hr/
    %h3 Terrariums
    %hr/
    %img{src: "#{image_path('terr3thumb.jpg')}", class: "img-responsive"}
    %br/
    %img{src: "#{image_path('terr1thumb.jpg')}", class: "img-responsive"}
    %br/
    %img{src: "#{image_path('terr2thumb.jpg')}", class: "img-responsive"}
    %br/
    %img{src: "#{image_path('terr4thumb.jpg')}", class: "img-responsive"}
    %br/
